/*  Fuentes a Usar
font-family: 'Inconsolata', monospace;
font-family: 'Lato', sans-serif;
*/
.show-nav {
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 82px;
    left: 0;
    right: 0;

}
.sub-titulo {
    color: var(--sub-title-color, #F00);
    font-family: "Inconsolata", monospace;
    font-size: 1.8;
}
.categoria {
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    font-size: 1.1;
}
.titulo-principal {
    font-family: "Inconsolata", monospace;
    font-weight: 800;
    text-align: center;
    font-size: 2em;
}
[class*="descripcion"] {
    font-family: 'Lato', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    border-left: 1px solid var(--button-color-primary, #0070CA);
    font-size: 0.9em; 
}
.icon {
    color: var(--sub-title-color, #F00);
}
.boton {
    background-color: var(--button-color-primary, #0070CA);
    padding: 0.5em 1em;
    border-radius: 1em;
    color: var( --text-color, #fff);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
}
body {
    background-color: var(--background-color, #333);
}
.background-header {
    background-color: var(--background-items, #000);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20; /*Tener cuidado hay un z-index de 10*/
}
.header {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1366px; /*ancho de pantalla mas usado actualmente*/
    background-color: var(--background-items, #000);
    display: flex;
    box-sizing: border-box;
    padding: 1em 1.5em;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    align-items: center;
    position:relative;
}
.logo-header {
    width: 50px;
    height: 50px;
}
.icon-menu {
    background-color: white;
}
.navegacion {
    display: none;
}
.contenedor-item {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.item a {
    display: block;
    padding: 0.5em 1em;
    color: var(--text-color, #fff);
    text-decoration: none;
    background-color: var(--button-color-primary, #0070CA);
    border-radius: 1em;
    font-size: 0.9em;
    margin-bottom: 1em;
    text-align: center;
}
.item a:hover {
    background-color: var(--text-color, #fff);
    font-weight: 800;
    color: var(--button-color-primary, #0070CA);
}
.contenedor-layout {
    margin-top: 98px;
}
.contenedor-A, .contenedor-B{
    background-color: var( --background-items, #000);
    color: var( --text-color, #fff); /*revisar si se puede optmizar*/
    border-radius: 0.7em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}
.contenedor-A {
    overflow: hidden;
}
.contenedor-foto {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.img-portada {
    max-width: 100%; /*imagen responsive no borrar*/
}
.contenedor-logo {
    position: absolute;
    bottom: 1em;
    left: 1em;
    z-index: 10;
}
.logo {
    width: 50px;
    height: 50px;
    display: block;
}
.descripcion-foto {
    color: #fff;
    position: absolute;
    left: 28px;
    bottom: 25px;
    padding: 0.5em 1em 0.5em 3em;
    border-radius: 1em;
    background-color: var( --background-items, #000);
}
.contenedor-portafolio .categoria{
    color: var(--sub-title-color, #F00);
}
.contenedor-portafolio {
    padding: 1.2em;
}
.linea-divisora {
    color: var(--line-through, #66CC33);
}
.contenedor-habilidad {
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: column;
}
.contenedor-habilidad + p {
    display: flex;
    justify-content: center;
}
.contenedor-habilidad em {
    font-style: normal;
}
.nombre-habilidad, .valor-habilidad {
    margin-top: 0;
}
.contenedor-progreso {
    margin-right: 1em;
    margin-left: 1em;
    background: var(--progres-background, #eee);
    max-width: 100%;
    height: 1em;
    border-radius: 1em;
}
.progreso {
    background: var(--line-through,  #66CC33);
    height: 1em;
    width: 80%;
    border-radius: 1em;
}
.progreso.dos {
    width: 50%;
}
.progreso.tres {
    width: 50%;
}
.valor-habilidad {
    align-self: flex-end;
}
/* 
este comentario divide los estilos de la seccion lateral derecha
 de guia no borrar gracias.
*/
.contenedor-B {
    padding: 1.5em;
}
.item-proyectos .boton {
    background-color: var(--button-color-secondary, #FF9933);
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.item-proyectos + p {
    display: flex;
    justify-content: center;
}
.item-estudios + p {
    display: flex;
    justify-content: center;
}
.fecha-estudios {
    font-family: 'Lato', sans-serif;
    color: var(--sub-title-color, #F00);
}
.pie {
    padding-top: 0.1px; /*no borrar*/
    padding-bottom: 4em;
    background-color: var( --text-color, #fff);
}
.pie .sub-titulo {
    color: black;
    text-align: center;
}
.contenedor-red-social {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.contenedor-red-social .icon {
    color: black;
    margin: 0.5em;
    font-size: 2em;
}
strong {
    font-weight: 800;
}
strong + a {
    color: var(--button-color-secondary, #ff8206);
    font-family: 'Lato', sans-serif;
    padding-left: 1em;
    display: block;
    margin-top: 1em;
}
strong + a:hover {
    color: var(--button-color-primary, #0070CA);
    text-decoration: none;
}
.contenedor-proyectos{
    margin-bottom: 1.5em;
}

@media (min-width:600px){
    .contenedor-layout {
        /* margin-left: auto;
        margin-right: auto;
        max-width: 1366px;
        display: flex;
        justify-content: center;
        align-items: flex-start; */

        /* 
        se remplazo las lineas arriba
        por display grid
        */
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
        max-width: 1366px;
    }
}
@media (min-width: 900px){
    .contenedor-layout {
        display: grid;
        grid-template-columns: 400px 1fr;   
    }
    .contenedor-B {
        display: grid;
        column-gap: 2em;
        grid-template-columns: 1fr 1fr;
    }
    .contenedor-proyectos {
        border-radius: 0.5em;
        border: 1px solid gray;
        padding: 1.5em;
    }

}

@media (min-width:650px) {
    .icon-menu {
        display: none;
    }
    .navegacion {
        display: block;
    }
    .contenedor-item {
        flex-direction: row;
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .item a {
        margin-left: 1em;
        margin-bottom: 0;
    }
}