body{
    color: white;
    background-color: black;
    font-size: 16px;
}
nav{
    background-color:  #323232;
    margin-left: 50px;
    /* margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 20px; */
    margin: 100px 20px; /*[arriba abajo] [derecha izquierda]*/
    padding: 10px;


}
.l{
    display:  block;
}
h1{
    color: red;

}
h2{

    color: greenyellow;
}
#sub{

    color:  blue;
}
#sub2{
    color: rebeccapurple;
}
.columna{
    color: white;
    padding:  20px;;
    width: 30%;
    background-color: brown;
    margin: 10px ;
}
.azul{
    color: aqua;
}
.padre{
    display: flex;
}

button{
    background-color: red;
    color: aqua;
}
button:hover{
    background-color: cornsilk;
    color: blueviolet;
}
button:active{
    background: greenyellow;

}