:root {
    --background-color: #333;
    --background-items: #000;
    --text-color: #fff;
    --button-color-primary: #0070CA;
    --button-color-secondary: #FF9933;
    --sub-title-color: #F00;
    --line-through: #66CC33;
}