<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <ul class = "nav">
                <a href="index.html">Inicio</a>
                <a href="Templates/Proyects.html">Proyectos</a>
                <a href="Templates/Skills.html">Habilidades</a>
                <a href="Templates/Contacto.html">Contacto</a>

            </ul>
            
        </div>
    </nav>
</body>
</html>